In [1]:
from run_training import unpickle_object
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
import pandas as pd

df = pd.read_pickle(r"C:\Users\Sior AMD-4\repos\hydro-nps\data\incoming\nldas_data.pkl")

In [12]:
# check for zeros in col QObs
df[df['QObs(mm/d)'] == 0].groupby('basin').count()

,Year,Mnth,Day,Hr,Dayl(s),PRCP(mm/day),SRAD(W/m2),SWE(mm),Tmax(C),Tmin(C),Vp(Pa),QObs(mm/d)
basin,,,,,,,,,,,,
01195100,20,20,20,20,20,20,20,20,20,20,20,20
01594950,67,67,67,67,67,67,67,67,67,67,67,67
01613050,117,117,117,117,117,117,117,117,117,117,117,117
01658500,151,151,151,151,151,151,151,151,151,151,151,151
01669000,27,27,27,27,27,27,27,27,27,27,27,27
...,...,...,...,...,...,...,...,...,...,...,...,...
11284400,4656,4656,4656,4656,4656,4656,4656,4656,4656,4656,4656,4656
11299600,4715,4715,4715,4715,4715,4715,4715,4715,4715,4715,4715,4715
11451100,594,594,594,594,594,594,594,594,594,594,594,594
11480390,1955,1955,1955,1955,1955,1955,1955,1955,1955,1955,1955,1955
14362250,939,939,939,939,939,939,939,939,939,939,939,939

In [20]:
# mean QObs for each basin and sort by mean value
mean_flows = df.groupby('basin')['QObs(mm/d)'].mean()
low_flows = mean_flows.sort_values(ascending=True)

In [28]:
low_flows[:20]

basin
07226500    0.007441
06847900    0.009602
09484600    0.010816
09447800    0.030525
07142300    0.033038
09480000    0.039265
08190500    0.039433
07301410    0.042294
08202700    0.048141
09306242    0.048753
06447000    0.050113
06353000    0.050321
07301500    0.052279
06332515    0.055795
06339500    0.055845
06441500    0.056400
06354000    0.058677
06350000    0.059124
11151300    0.059172
06352000    0.060527
Name: QObs(mm/d), dtype: float64